<p>board works!</p>



<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./board.component.css"/>
    <title>Mi Aplicación</title>
</head>
<body>

    <div class="layout">

        <header class="header">
            <app-header></app-header>
        </header>

        <!--Barra de navegación-->
        <nav class="nav">

        </nav>

        <!--Contenido principal-->
        <section class="content">
            <!-- Contenido principal -->
        </section>

        <!--Barra lateral-->
        <aside class="lateral">
          <app-side-bar></app-side-bar>
        </aside>

        <!--Pie de página-->
        <footer class="footer">
            <!-- Contenido del pie de página -->
        </footer>
    </div>

</body>
</html>
